@import '../buttons'
@import '../variables'

.contentPost
    margin-top: 4rem
    display: flex
    flex-direction: column
    gap: 2rem
    color: $text-primary
    align-items: center
    justify-content: center
    justify-items: center
    @extend %paddings  

    .titlePost
        @extend %title-pattern
    
    .postResume
        text-align: center
        font-weight: 600

    .postParagraph
        display: flex
        flex-direction: column
        gap: 1rem
        text-align: justify

        p
            text-justify: justify
    
    .achtorInfos
        align-self: flex-start
        text-align: start

    