$bg-primary: #FFFFFF
$bg-secondary: #EEEEEE
$bg-btn: #EF8F36
$text-secondary: #6466EB
$text-primary: #383F64
$text-info: #EEEEEE
$black-color: #000000
$purple-color: #6466EB
$green-color: #8CE5D3
$red-light: #F62D2D

%margins
    margin-left: 250px
    margin-right: 250px

%paddings
    padding-left: 250px
    padding-right: 250px

