@import "../../styles/variables"
@import "../../styles/buttons"

.container-home
    background-color: $bg-primary

    .content-home
        @extend %paddings
        padding-top: 140px
        background-color: $text-secondary
        display: flex
        flex-direction: row
        justify-content: center
        align-items: flex-end

        .apresentation
            display: flex
            padding-bottom: 8rem

            .describe
                display: flex
                flex-direction: column
                gap:16px
                color: $text-info

                p
                    font-weight: 500                

                .title
                    font-size: 42px
                    color: $text-info

                .btn
                    @include button($bg-color-btn: $bg-btn)
                    width: 200px
                    



