@import "../../styles/variables"
@import "../../styles/buttons"
    
.header
    @extend %paddings
    z-index: 100
    width: 100vw
    height: 100px
    position: fixed
    background-color: $bg-primary
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center

    .btn
        @include button($bg-color-btn: $text-secondary)


    .nav
        ul
            display: flex
            flex-direction: row
            gap: 32px
            padding: 16px
            list-style-type: none
            color: $text-primary

            li
                text-decoration: none
                display: flex
                flex-direction: column

                a
                    text-decoration: none
                    color: currentcolor
                    transition: .3s

                    &:hover
                        color: $purple-color
                        transform: translateY(-5px)
                        
    .logo
        color: $text-secondary
        transition: .3s

        &:hover
            cursor: pointer
            color: $black-color

