@import '../buttons'
@import '../variables'
@import '../components/postBlog'
@import '../components/cardPost'

.containerBlog
    display: flex
    flex-direction: column
    gap: 2rem
    @extend %paddings
    padding-top: 10rem
    margin-bottom: 1rem
    height: calc( 100vh - 52px )
    justify-items: center
    align-items: center

.containerBlogPage
    display: flex
    flex-direction: column
    gap: 2rem

.loading-error
    display: flex
    flex-direction: column
    gap: 2rem
    align-content: center
    justify-content: center
    align-items: center
    width: 100vw
    height: 100vh

    .title
        @extend %title-error
    
    .btn
        margin-top: 1rem
        width: 150px
        align-self: center
        @include button($bg-color-btn: $bg-btn, $text-color: $text-info )
