@import '../buttons'
@import '../variables'


.containerFormsPost
    @extend %paddings
    @extend %device-viewpoint
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    align-content: center
    color: $black-color