@import "../../../styles/variables"
@import "../../../styles/buttons"

.post-container
    padding: 32px
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    gap: 64px
    color: $text-info
    background-color: $bg-primary

.post-container-reverse
    padding: 32px 0
    display: flex
    flex-direction: row-reverse
    justify-content: center
    gap: 64px
    color: $text-info
    background-color: $bg-primary

.container-frame-img
    position: relative
    display: inline-block

    .image-post
        display: block
        position: relative
        z-index: 2
        border-radius: 18px

        &::before
            content: ''
            position: absolute
            background-color: $text-secondary
            width: 500px
            height: 500px
            border-radius: 18px
            top: 10px
            left: 10px
            z-index: 1

.post-title
    color: $text-secondary 

    &-larger
        color: $text-secondary 
        font-size: 42px
        word-break: break-word
    

.content-post
    width: 30vw
    justify-self: flex-start
    gap: 16px

    .content-services
        display: grid
        grid-template-columns: 1fr 1fr
        gap:16px

        .describe-services

            .service-title
                color: $text-secondary
                margin: 16px 0

            p
                color: rgb(128,128,128)
                text-align: justify

            .btn
                @include button($bg-color-btn: $bg-btn)
                width: 150px
    
    .content-services-reverse
        display: flex

        .describe-services
            display: flex
            gap: 16px
            flex-direction: column

            .service-title
                color: $text-secondary
                margin: 16px 0

            p
                color: rgb(128,128,128)
                text-align: justify

            .btn
                @include button($bg-color-btn: $bg-btn)
                width: 150px
